extends ../main.layout.pug

block variables
    -var title = 'Lending page'

block content 
    section.hero
       header.header
          .logo
             .logo__link
                a(href="#").link 
                    img(src="./assets/images/icons/Brandi.png", alt="logo").logo__img
             .logo__text I’am your tag line
          nav.nav
           .nav__menu
              ul.nav__list
                 li.nav__elem Home 
                 li.nav__elem Features
                 li.nav__elem Works
                 li.nav__elem Team
                 li.nav__elem Contact
       .hero-text 
             ul.hero-text__list
                 li.hero-text__title Meet 
                         span.hero-text__span-title Brandi!
                 li.hero-text__midle /creative 
                       span.hero-text__span one page template.
                 li.hero-text__bottom We are a team of professionals 
       .social-hero
         ul.social__list
             -
                 var social =[
                     ['facebook','#'],
                     ['twitter','#'],
                     ['googleplus','#'],
                     ['dribbble','#'],
                  ]
             each item in social
               li.social__elem
                a(href=`${item[1]}`).social__link
                  +icon(item[0],'social-img')
                 
    section.services
     .features
        .title-bandi
              h3.title-text Features
              img.title-img(src="./assets/images/icons/heart-empty.png", alt="")
        .features-service
           ul.features-list
              li.features-elem
                  .elem-title Branding
                  .elem-img 
                     img(src="./assets/images/icons/feather.png", alt="").img__features
                  .elem-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              li.features-elem
                  .elem-title Devtlopoment
                  .elem-img
                     img(src="./assets/images/icons/pencil.png", alt="").img__features
                  .elem-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              li.features-elem
                  .elem-title Consulting
                  .elem-img
                     img(src="./assets/images/icons/megaphone.png", alt="").img__features
                     
                  .elem-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
     .works
        .title-bandi
              h3.title-text Works
              img.title-img(src="./assets/images/icons/heart-empty.png", alt="")
        .works-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        .works-buttons
           ul.works__list
             -
                var btn = [
                      ['All'],
                      ['Branding'],
                      ['Web'],
                      ['Logo Design'],
                      ['Phfotografy']
                        ]
             each item in btn 
              li.works__elem #{item[0]}
    section.images
      ul.images-list
        -
          var images = [
                      ['./assets/images/Layer 15.jpg'],
                      ['./assets/images/Layer 17.jpg'],
                      ['./assets/images/Layer 19.jpg'],
                      ['./assets/images/Layer 18.jpg']
                          ]
        each item in images
          li.images__elem
             img(src=`${item[0]}`, alt="").images__pic
             ul.opacity-list
               li.opaciti__elem-pic
                   img.opaciyt__img(src="./assets/images/icons/Vector Smart Object.png", alt="")
               li.opaciti__elem Labore et dolore magnam                 
               li.opaciti__elem.opaciti__elem--small Photography                     

      ul.images-list
        -
          var images = [
                     
                      ['./assets/images/Layer 22.jpg'],
                      ['./assets/images/Layer 20.jpg'],
                      ['./assets/images/Layer 13.jpg'],
                      ['./assets/images/Layer 21.jpg']

                        ]
        each item in images
          li.images__elem
             img(src=`${item[0]}`, alt="").images__pic  
             ul.opacity-list
               li.opaciti__elem-pic
                   img.opaciyt__img(src="./assets/images/icons/Vector Smart Object.png", alt="")
               li.opaciti__elem Labore et dolore magnam                 
               li.opaciti__elem.opaciti__elem--small Photography                     
    section.team
     .title-bandi.title-bandi--team
              h3.title-text meet or team
              img.title-img(src="./assets/images/icons/heart-empty.png", alt="")
     .works-text.works-text--team Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
     ul.images-list.images-list--team
        -
          var images = [
                     
                      ['./assets/images/Layer 24.jpg'],
                      ['./assets/images/Layer 25.jpg'],
                      ['./assets/images/Layer 26.jpg'],
                      ['./assets/images/Layer 27.jpg']

                        ]
        each item in images
          li.images__elem.images__elem--team
             img(src=`${item[0]}`, alt="").images__pic  
             ul.opacity-list
                li.opaciti__elem.opaciti__elem--team Nemo enim ipsam voluptatem quia voluptas 
                li.opaciti__elem.opaciti__elem--small sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                li.opaciti__elem-pic.opaciti__elem-pic--team
                     -
                      var socialTeam = [
                        ['./assets/images/icons/FB.png','#'],
                        ['./assets/images/icons/twitter.png','#'],
                        ['./assets/images/icons/G+.png','#']
                               ]
                     each item in socialTeam
                      a.team-socal(href=`${item[1]}`)
                        img.team-img(src=`${item[0]}`, alt="")
    section.facts
        .title-bandi.title-bandi--facts
              h3.title-text Some Fun Facts
              img.title-img(src="./assets/images/icons/heart-empty copy.png", alt="")
        .facts__title
          ul.facts__list
           -
            var facts = [
             ['./assets/images/icons/Clock.png','3200','Hours of Work'],
             ['./assets/images/icons/Friends.png','120','Satisfied Clinets'],
             ['./assets/images/icons/Rocket.png','360','Projects delivered'],
             ['./assets/images/icons/Cup.png','42','Awards Won']
            ]
           each item in facts
             li.facts__elem
                .facts__pic
                  img.facts__img(src=`${item[0]}`, alt="")
                .facts__number #{item[1]}
                .facts__text #{item[2]}
    section.contacs                   
         .title-bandi.title-bandi--contacs
              h3.title-text Let's discuss
              img.title-img(src="./assets/images/icons/heart-empty.png", alt="")
         .works-text.works-text--contacs Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
         .contacs__content
           .contacs__text
              .contacs__title Cras at ultrices erat, sed vulpu-tate!
              .contacs__small  2345 Setwant natrer, 1234, Washington. United States. (401) 1234 567 hello@brandi.com ww.brandi.com
           form.contacs__form(action="")
             .form__title
               h2.form__text Say hello !
             .form__elem 
               label.form-block
                 input(type="text" class="form-input" placeholder="Name" )
               label.form-block.form-block--nomargin
                 input(type="text" class="form-input" placeholder=" Email" )
             label.form-block.form-block--message
                input(type="text" class="form-input form-input--message" placeholder="Message" )
             .form__btn
              button.form__click Send message
                img.btn__img(src="./assets/images/icons/Envelope.png", alt="")
           .contacs__social
              ul.contacs__list
               -
                var contacsSocial = [
                    ['./assets/images/icons/behance.png','#'],
                    ['./assets/images/icons/twitter2.png','#'],
                    ['./assets/images/icons/dribbble.png','#'],
                    ['./assets/images/icons/forrst.png','#'],
                    ['./assets/images/icons/google plus.png','#']
                          ]
               each item in contacsSocial
                li.contacs__elem 
                  a.contacs__link(href=`${item[1]}`)
                   img.contacs__img(src=`${item[0]}`, alt="")
         .contacs__map  







          
block scripts 
      script(src='/assets/scripts/index.bundle.js')